{% extends 'base.html' %}

{% block body %}

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <style>
        .table-responsive {
            min-height: 67vh;
        }
        tr, th,
        td {
            background: rgba(255, 255, 255, 0.43) !important;
            text-align: left;
        }
        .bloc_left_price {
            color: #c01508;
            text-align: center;
            font-weight: bold;
            font-size: 150%;
        }

        .category_block li:hover {
            background-color: #007bff;
        }

        .category_block li:hover a {
            color: #ffffff;
        }

        .category_block li a {
            color: #343a40;
        }

        .add_to_cart_block .price {
            color: #c01508;
            text-align: center;
            font-weight: bold;
            font-size: 200%;
            margin-bottom: 0;
        }

        .add_to_cart_block .price_discounted {
            color: #343a40;
            text-align: center;
            text-decoration: line-through;
            font-size: 140%;
        }

        .product_rassurance {
            padding: 10px;
            margin-top: 15px;
            background: #ffffff;
            border: 1px solid #6c757d;
            color: #6c757d;
        }

        .product_rassurance .list-inline {
            margin-bottom: 0;
            text-transform: uppercase;
            text-align: center;
        }

        .product_rassurance .list-inline li:hover {
            color: #343a40;
        }

        .reviews_product .fa-star {
            color: gold;
        }

        .pagination {
            margin-top: 20px;
        }


    </style>
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Title</th>
                            <th scope="col" class="text-right">Rating</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in products %}
                            <tr>
                                <td>
                                    <img src="{% if item.get_movie() %} {{ item.get_movie().img }}
                                {% else %}
                                https://dummyimage.com/50x50/55595c/fff
                                {% endif %} "/></td>
                                <td>{{ item.get_movie().title }} <br> {{ item.get_movie().synopsis }}</td>
                                <td>IMBD-rating: <br> {% for i in range((item.get_movie().imdbrating)|int) %}
                                    <i class="bi bi-star-fill"></i>
                                {% endfor %}
                                    {% for i in range(10 - (item.get_movie().imdbrating)|int) %}
                                        <i class="bi bi-star"></i>
                                    {% endfor %}</td>
                                <td class="text-right">
                                    <a href="/remove-from-favourites?favourites_id={{ item.id }}"
                                       class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12  col-md-12">
                        <a href="/" class="btn btn-block btn-light">Continue To watch movie</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}